.pm-marquee__item {
    white-space: nowrap;
    padding: 2rem;
    min-width: 50px;
    background: pink;
    font-size: 4rem;
    font-weight: 800;
    color: white;
    text-shadow:
        -2px -2px 0 red,
        2px -2px 0 red,
        -2px 2px 0 red,
        2px 2px 0 red;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}