.pm-marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.pm-marquee__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  will-change: transform;
}

.pm-marquee__item {
  white-space: nowrap;
  padding: 2rem;
  min-width: 50px;
  background: pink;
  font-size: 4rem;
  font-weight: 800;
  color: white;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}